{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="courses">

   <h1 class="heading">Наши Курсы</h1>

   <div class="box-container">

      <div class="box">
         <div class="tutor">

            <img src="{% static 'applacation1/img/pic-10.jpg' %}" alt="">
            <div class="info">
               <h3>Жансая</h3>
               <span>23-04-2023</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'applacation1/img/thumb-1.png' %}" alt="">
            <span>10 видео</span>
         </div>
         <h3 class="title">Полный учебник по HTML</h3>
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-11.jpg' %}" alt="">
            <div class="info">
               <h3>Анель</h3>
               <span>08-04-2023</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'applacation1/img/thumb-2.png' %}" alt="">
            <span>10 видео</span>
         </div>
         <h3 class="title">Полный учебник по CSS</h3>
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-12.jpg' %}" alt="">
            <div class="info">
               <h3>Айкен</h3>
               <span>27-03-2023</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'applacation1/img/thumb-3.png' %}" alt="">
            <span>10 видео</span>
         </div>
         <h3 class="title">Полный учебник по JS</h3>
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-13.jpg' %}"  alt="">
            <div class="info">
               <h3>Akzhan</h3>
               <span>04-04-2023</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'applacation1/img/thumb-4.png' %}" alt="">
            <span>10 видео</span>
         </div>
         <h3 class="title">complete Boostrap tutorial</h3>
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-14.jpg' %}" alt="">
            <div class="info">
               <h3>Гульзана</h3>
               <span>14-02-2023</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'applacation1/img/thumb-5.png' %}" alt="">
            <span>10 видео</span>
         </div>
         <h3 class="title">complete JQuery tutorial</h3>
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-15.jpg' %}" alt="">
            <div class="info">
               <h3>Джамиль</h3>
               <span>20-04-2023</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'applacation1/img/thumb-6.png' %}" alt="">
            <span>10 видео</span>
         </div>
         <h3 class="title">complete SASS tutorial</h3>
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
      </div>

   </div>

   <div class="more-btn">
      <a href="{% url 'courses' %}" class="inline-option-btn">Посмотреть наши Курсы</a>
   </div>

</section>
{% endblock %}