{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Кураторы{% endblock %}

{% block content %}
<section class="teachers">

   <h1 class="heading">expert Кураторы</h1>


   <div class="box-container">

      <div class="box offer">
         <h3>Cтать куратором</h3>
         <p>"Вдохновляй и обучай - стань куратором!"</p>
         <a href="{% url 'degister' %}" class="inline-btn"> приступить</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-10.jpg' %}" alt="">
            <div>
               <h3>жансая</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-11.jpg' %}" alt="">
            <div>
               <h3>Анель</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-12.jpg' %}" alt="">
            <div>
               <h3>Айкен</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-13.jpg' %}" alt="">
            <div>
               <h3>Айкен</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-14.jpg' %}" alt="">
            <div>
               <h3>Акжан</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-15.jpg' %}" alt="">
            <div>
               <h3>Гульзана</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="{% static 'applacation1/img/pic-16.jpg' %}" alt="">
            <div>
               <h3>Джамиль</h3>
               <span>developer</span>
            </div>
         </div>
         <p>всего плейлистов: <span>4</span></p>
         <p>всего видео: <span>18</span></p>
         <p>всего лайков: <span>1208</span></p>
         <a href="{% url 'teacher_profile' %}" class="inline-btn">Посмотреть профиль</a>
      </div>

   </div>

</section>
{%endblock%}