{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Логин{% endblock %}

{% block content %}
<section class="form-container">

   <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Войти</h3>
      <p>Email <span>*</span></p>
      <input type="email" name="email" placeholder="enter your email" required maxlength="50" class="box">
      <p>Пароль <span>*</span></p>
      <input type="password" name="pass" placeholder="enter your password" required maxlength="20" class="box">
      <input type="submit" value="login new" name="submit" class="btn">
   </form>

</section>
{% endblock %}