{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block content %}
<section class="user-profile">
   <h1 class="heading">{{ user.username }}'s profile</h1>
   <div class="info">
      <div class="user">
         {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}">
         {% else %}
            <img src="{% static 'applacation1/img/pic-1.jpg' %}" alt="{{ user.username }}">
         {% endif %}
         <h3>{{ user.username }}</h3>
         <p>{{ user.profile.bio }}</p>
         <a href="{% url 'update' %}" class="inline-btn">Изменить</a>
      </div>
      <div class="box-container">
         <div class="box">
            <div class="flex">
               <i class="fas fa-bookmark"></i>
               <div>
                  <span>{{ total_bookmarked }}</span>
                  <p>saved playlist</p>
               </div>
            </div>
            <a href="#" class="inline-btn">Посмотреть Плейлистs</a>
         </div>
         <div class="box">
            <div class="flex">
               <i class="fas fa-heart"></i>
               <div>
                  <span>{{ total_likes }}</span>
                  <p>videos liked</p>
               </div>
            </div>
            <a href="#" class="inline-btn">view liked</a>
         </div>
         <div class="box">
            <div class="flex">
               <i class="fas fa-comment"></i>
               <div>
                  <span>{{ total_comments }}</span>
                  <p>videos comments</p>
               </div>
            </div>
            <a href="#" class="inline-btn">view comments</a>
         </div>
      </div>
   </div>
</section>
{% endblock %}
