{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Обновления{% endblock %}

{% block content %}
<section class="form-container">

   <form action="" method="post" enctype="multipart/form-data">
       {% csrf_token %}
      <h3>изменить профиль</h3>
      <p>изменить имя</p>
      <input type="text" name="name" placeholder="Akzhan" maxlength="50" class="box">
      <p>изменить email</p>
      <input type="email" name="email" placeholder="shaikh@gmail.come" maxlength="50" class="box">
      <p>предыдущий пароль</p>
      <input type="password" name="old_pass" placeholder="eski password" maxlength="20" class="box">
      <p>новый пароль</p>
      <input type="password" name="new_pass" placeholder="eski password" maxlength="20" class="box">
      <p>подтвердить пароль</p>
      <input type="password" name="c_pass" placeholder="new password" maxlength="20" class="box">
      <p>обновлённая фотография</p>
      <input type="file" accept="image/*" class="box">
      <input type="submit" value="обновить профиль" name="submit" class="btn">
   </form>

</section>
{% endblock %}
