{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Обновления{% endblock %}

{% block content %}
<section class="form-container">

   <form action="" method="post" enctype="multipart/form-data">
       {% csrf_token %}
      <h3>update profile</h3>
      <p>update name</p>
      <input type="text" name="name" placeholder="Akzhan" maxlength="50" class="box">
      <p>update email</p>
      <input type="email" name="email" placeholder="shaikh@gmail.come" maxlength="50" class="box">
      <p>previous password</p>
      <input type="password" name="old_pass" placeholder="eski password" maxlength="20" class="box">
      <p>new password</p>
      <input type="password" name="new_pass" placeholder="eski password" maxlength="20" class="box">
      <p>confirm password</p>
      <input type="password" name="c_pass" placeholder="new password" maxlength="20" class="box">
      <p>update pic</p>
      <input type="file" accept="image/*" class="box">
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>

</section>
{% endblock %}