{% extends 'applacation1/base.html' %}

{% load static %}

{% block title %}Смотреть{% endblock %}

{% block content %}
<section class="watch-video">

   <div class="video-container">
      <div class="video">
         <video src="{% static 'applacation1/img/vid-1.mp4' %}" controls poster="applacation1/img/post-1-1.png" id="video"></video>
      </div>
      <h3 class="title">полный учебник по HTML (часть 01)</h3>
      <div class="info">
         <p class="date"><i class="fas fa-calendar"></i><span>22-10-2022</span></p>
         <p class="date"><i class="fas fa-heart"></i><span>44 likes</span></p>
      </div>
      <div class="tutor">
         <img src="{% static 'applacation1/img/pic-10.jpg' %}" alt="">
         <div>
            <h3>Жансая</h3>
            <span>developer</span>
         </div>
      </div>
      <form action="" method="post" class="flex">
         <a href="{% url 'playlist' %}" class="inline-btn">Посмотреть Плейлист</a>
         <button><i class="far fa-heart"></i><span>like</span></button>
      </form>
      <p class="description">
         В этом видео вы познакомитесь с основами HTML, узнаете, как создавать структуру веб-страницы с помощью тегов и изучите базовые атрибуты. Вы также узнаете, как создавать ссылки, изображения и таблицы, и получите базовое представление о CSS. Начните свой путь веб-разработки прямо сейчас!
      </p>
   </div>

</section>

<section class="comments">

   <h1 class="heading">5 комментариев</h1>

   <form action="" class="add-comment">
      <h3>Напиши свои впечатление</h3>
      <textarea name="comment_box" placeholder="Введите свой комментарий" required maxlength="1000" cols="30" rows="10"></textarea>
      <input type="submit" value="добавить комментарий" class="inline-btn" name="add_comment">
   </form>

   <h1 class="heading">Комментарии пользователей</h1>

   <div class="box-container">

      <div class="box">
         <div class="user">
            <img src="{% static 'applacation1/img/pic-1.jpg' %}" alt="">
            <div>
               <h3>Гость</h3>
               <span>22-10-2022</span>
            </div>
         </div>
         <div class="comment-box">this is a comment form Akzhan</div>
         <form action="" class="flex-btn">
            <input type="submit" value="edit comment" name="edit_comment" class="inline-option-btn">
            <input type="submit" value="delete comment" name="delete_comment" class="inline-delete-btn">
         </form>
      </div>

      <div class="box">
         <div class="user">
            <img src="{% static 'applacation1/img/pic-2.jpg' %} " alt="">
            <div>
               <h3>john deo</h3>
               <span>22-10-2022</span>
            </div>
         </div>
         <div class="comment-box">awesome tutorial!
            keep going!</div>
      </div>

      <div class="box">
         <div class="user">
            <img src="{% static 'applacation1/img/pic-3.jpg' %}" alt="">
            <div>
               <h3>john deo</h3>
               <span>22-10-2022</span>
            </div>
         </div>
         <div class="comment-box">amazing way of teaching!
            thank you so much!
         </div>
      </div>

      <div class="box">
         <div class="user">
            <img src="{% static 'applacation1/img/pic-4.jpg' %}" alt="">
            <div>
               <h3>john deo</h3>
               <span>22-10-2022</span>
            </div>
         </div>
         <div class="comment-box">loved it, thanks for the tutorial!</div>
      </div>

      <div class="box">
         <div class="user">
            <img src="{% static 'applacation1/img/pic-5.jpg' %}" alt="">
            <div>
               <h3>john deo</h3>
               <span>22-10-2022</span>
            </div>
         </div>
         <div class="comment-box">this is what I have been looking for! thank you so much!</div>
      </div>

      <div class="box">
         <div class="user">
            <img src="{% static 'applacation1/img/pic-2.jpg' %}" alt="">
            <div>
               <h3>john deo</h3>
               <span>22-10-2022</span>
            </div>
         </div>
         <div class="comment-box">thanks for the tutorial!

            how to download source code file?
         </div>
      </div>

   </div>

</section>
{% endblock %}